<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.romnan.moviecatalog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detail.tvseries.TvSeriesDetailActivity"
            android:parentActivityName=".ui.discover.DiscoverActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.discover.DiscoverActivity" />
        </activity>

        <activity
            android:name=".ui.detail.movie.MovieDetailActivity"
            android:label="@string/movie_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.discover.DiscoverActivity" />
        </activity>

        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:label="@string/title_activity_favorite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.discover.DiscoverActivity" />
        </activity>

        <activity android:name=".ui.discover.DiscoverActivity" />
    </application>

</manifest>